/* Global Styles */

*{
  margin: 0;
  padding: 0;
};

:root {
--bg-color: white;
--text-color: #151515;;
--text-font: "Prata", "Didone", "Bodoni MT", "Georgia", serif;
}

/* Header Styles */

header{
  display: block;
  text-align: center;
  margin: 4em 0 2em 0;
}

/* Background Styles */

#ocean{
  background-color: #73c1d7;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 15vh;
  width: 100%;
  transition: height 0.8s ease-in-out;
  z-index: -1;
}

.wave{
  position: absolute;
  top: -95px;
  left: 0;
  width: 200%;
  height: 100px;
  fill: #73c1d7;
  animation: rollWave 4s linear infinite;
}

@keyframes rollWave {
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}


/* Body Styles */

body{
  font-family: "Prata", serif;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

h1{
  margin-bottom: 1em;
}

h3{
  font: Arial, sans-serif;
  margin: 0 0 1em 0;
  font-size: 1.5em;
}

/* Buttons */

.buttons{
  margin-top: auto;
}

.next-button, .back-button, .new-prediction{
  margin: 1em 0.5em 1em 0;
  padding: 0.5em 1.2em 0.5em 1.2em;
  border: 1px solid white;
  border-radius: 0.5em;
  background-color: #73c1d7;
  font-size: 1em;
}

.next-button:hover, .back-button:hover, .new-prediction:hover{
  background-color: #85d8ef;
}


.buttons .predictSurv {
  margin: 1em 0.8em 1em 0;
  padding: 0.5em 1.2em 0.5em 1.2em;
  border: 1px solid white;
  border-radius: 0.5em;
  font-size: 1em;
}


/* Form */

.form-step{
  display: none;
}

div.form-step.active{
  display: flex;
  padding: 2em;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  min-height: clamp(400px, 45vh, 600px); /*Min height, ideal height, max*/
  width: 100%;
  max-width: 430px;
  margin-top: 10em;
}

.form-step > div{
  display: flex;
  flex: 1;
  flex-direction: column;
}

#spch-page{
  display: 'none';
}


/* Input */

.text-input input{
  padding: 0.8em 1em 0.8em 1em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 0.5em;
  font-size: 1em;
}

.select-input select{
  padding: 0.8em 1em 0.8em 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 0.5em;
  font-size: 1em;
}

.number-input input{
  padding: 0.8em 1em 0.8em 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 0.5em;
  font-size: 1em;
}


input[type="radio"]{ /* Style radio buttons different from browser default */
  appearance: none;
  width: 0.8rem;
  height: 0.8rem;
  outline: 3px solid #151515;
  outline-offset: 2px;
  border-radius: 20%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background: #153970;
}

/* Vertical and horizontal radio button styling */

.radio label{
  margin: 0 1em 0 1em;
}

.radio-input{
  display: flex;
  gap: 2em;
  margin-left: 0.3em;
  margin-bottom: 0.3em;
}

.radio-input.vertical {
  flex-direction: column;
  align-items:flex-start;
  gap: 0.9em;
  font-size: 1em;
  
}

.radio-input.horizontal{
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.9em;
  font-size: 1em;
}

/* Error message */
.alert{
  font-size: 1em;
  font-weight: 600;
  color: #153970;
  width: 100%;         
  min-height: 1.5em;
  flex-basis: 100%; /* New line in Flexbox*/
  
 
}

