/* Global Styles */

*{
  margin: 0;
  padding: 0;
};

:root {
--bg-color: white;
--text-color: black;
--text-font: "Prata", "Didone", "Bodoni MT", "Georgia", serif;
}

/* Header Styles */

header{
  display: block;
  text-align: center;
  margin: 4em 0 2em 0;
}

/* Background Styles */

#ocean{
  background-color: #73c1d7;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 25vh;
  width: 100%;
  transition: height 0.8s ease-in-out;
  z-index: -1;
}

.wave{
  position: absolute;
  top: -95px;
  left: 0;
  width: 200%;
  height: 100px;
  fill: #73c1d7;
  animation: rollWave 4s linear infinite;
}

@keyframes rollWave {
  0% {
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

/* Body Styles */

body{
  font-family: "Prata", serif;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

h1{
  margin-bottom: 1em;
}

h3{
  font: Arial, sans-serif;
  margin: 0 0 1em 0;
}

/* Buttons */

div .next-button{
  margin: 1em 0.5em 1em 0;
  padding: 0.5em 1.2em 0.5em 1.2em;
  border: none;
  border-radius: 0.5em;
  background-color: #73c1d7;
}

div .next-button:hover{
  background-color: aliceblue;
}


div .back-button{
  margin: 1em 0.8em 1em 0;
  padding: 0.5em 1.2em 0.5em 1.2em;
  border: 1px solid;
  border-radius: 0.5em;
}

.predictSurv {
  margin: 1em 0.8em 1em 0;
  padding: 0.5em 1.2em 0.5em 1.2em;
  border: 1px solid;
  border-radius: 0.5em;
}



/* Form */

.form-step{
  display: none;
}

div.form-step.active{
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  
}

/* Input */

.text-input input{
  padding: 0.8em 1em 0.8em 1em;
  margin-bottom: 1em;
  border: 1px solid;
  border-radius: 0.5em;
}

.select-input select{
  padding: 0.8em 1em 0.8em 1em;
  margin-bottom: 2em;
  border: 1px solid;
  border-radius: 0.5em;
}

.number-input input{
  padding: 0.8em 1em 0.8em 1em;
  margin-bottom: 2em;
  border: 1px solid;
  border-radius: 0.5em;
}

.radio-input-horizontal label{
  margin: 0 1em 0 0.3em;
}

.radio-input-horizontal input{
  margin-bottom: 2em
}

.radio-input-vertical input {
  margin: 0 1em 2em 0.3em;
}




